<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--开启注解扫描-->
    <!--    测试第九课作业使用这个扫描-->
    <context:component-scan base-package="com.jkstudy.homework.class_09"/>
    <!--    测试第十课作业使用这个扫描-->
<!--    <context:component-scan base-package="com.jkstudy.homework.class_10"/>-->

    <bean id="beanDemo02" class="com.jkstudy.homework.class_09.BeanDemo02">
        <property name="uid" value="23"></property>
        <property name="name" value="lbj"></property>
        <property name="age" value="35"></property>
    </bean>

</beans>